@media (max-width: 1600px)
	.header
		height: 55px
		padding-top: 11px
		&__button
			width: 180px
			height: 43px
			font-size: 1.6rem
			font-weight: 400
	.offer
		margin-top: 10px
		&__title
			font-size: 3rem
			line-height: 32px
		&__subtitle
			margin-top: 5px
		&__blocks
			width: 90%
		&__call
			margin-top: 0
		&__block
			margin-top: 15px
			max-height: 235px
			&::after
				right: -13%
				transform: translateX(-17%)
		&__price
			&-block
				margin-top: 15px
	.step-two
		&__sale
			background-size: 100%
			height: 200px
			&_main
				width: 350px
				margin-left: 30px
				img
					width: 130px
					height: 130px
				p
					font-size: 1.6rem
					span
						font-size: 3.5rem
			&_action
				margin-right: 25px
				img
					width: 120px
					height: 120px
	.promo
		margin-top: 30px
		justify-content: space-between
		align-items: center
		&__card
			width: 49%
			margin: 0
			margin-bottom: 25px
		&__header
			&-img
				max-width: 95px
				max-height: 95px
			&-text
				max-width: 200px
				span.subtitle
					font-size: 2.5rem
		&__advantages
			min-height: 150px
			margin-top: 20px
			&-list
				li
					font-size: 2rem
		&__price
			&-block
				margin-bottom: 0
			max-width: 320px
			background-size: 320px 107px
	.services
		&__block
			width: 300px
			padding: 15px 30px
		&__img
			max-width: 80px
			max-height: 80px
		&__text
			p
				font-size: 2.5em
				line-height: 30px
	.step-three
		&__img
			max-width: 80%
			max-height: 80%
			left: -5%
			top: -50px
		&__content
			width: 100%
		&__text
			font-size: 2.8rem
			line-height: 35px
	.step-four
		margin-top: -300px
		&__text
			line-height: normal
	.finish
		&__pay
			&-cart
				max-width: 85%
				max-height: 85%
			a
				img
					max-width: 65%
					max-height: 65%
		&__text
			line-height: normal
	.about-us
		&::before, &::after
			font-size: 520px
	.review
		width: 80%
	.our-case
		&__slide
			&_result
				p.text
					font-size: 2.6rem
	.our-team
		&__card
			&-text
				font-size: 1.4rem
			&-proffesion
				font-size: 1.3rem
	.footer
		&__social
			flex-direction: column
			&_block
				margin-right: 0
				margin-bottom: 10px
@media (max-width: 1366px)
	.btn
		height: 55px
		width: 363px
	.offer
		&__subtitle
			margin-top: 10px
		&__btn
			margin-top: 10px
		&__call
			margin-top: 0px
		&__block
			max-width: 250px
			max-height: 240px
			&::after
				right: -14%
		&__text
			font-size: 1.4rem
			line-height: 18px
		&__img
			max-width: 150px
			max-height: 130px
	.promo
		&__card
			padding: 30px 10px
		&__header
			min-height: 120px
			&-special
				max-width: 300px
				background-size: 100%
				p
					font-size: 1.6rem
		&__advantages
			&-list
				li
					font-size: 1.8rem
		&__price
			width: 280px
			background-size: 280px 100px
			&-block
				margin-bottom: 0
			&_left
				margin-left: -10px
			&_right
				margin-right: -10px

	.step-two
		&__sale
			background: linear-gradient(#8557e8 0%, #6268e7 100%)
			margin-top: 10px
			&_main
				margin: 0
	.services
		&__list
			min-height: 88px
			margin-top: 0
			li
				font-size: 1.6rem
				line-height: normal
	.step-four
		&__text
			width: 90%
	.services
		&__text
			max-width: 270px
			p
				font-size: 2rem
				line-height: 2.2rem
		&__price
			font-size: 3.5rem
		&__btn
			width: 250px
	.business
		margin-top: 20px
		&__advantages
			&:last-child
				padding-left: 80px
			li
				font-size: 2.5rem
				padding-bottom: 35px
				img
					width: 35px
					height: 35px
	.our-work
		&__slider
			height: 700px
		&__slide
			width: 280px
			&_block
				img
					width: 280px !important
			&_btn
				width: 280px
	.our-team
		&__cards
			margin-top: 20px
	.faq
		&__card
			padding: 20px 90px
@media (max-width: 1280px)
	.header
		height: 55px
		padding-top: 11px
		&__button
			width: 180px
			height: 43px
			font-size: 1.6rem
			font-weight: 400
	.offer
		&__title
			font-size: 3rem
			line-height: 32px
		&__block
			margin-top: 20px
			&::after
				right: -11%
	.step-two
		&__sale
			&_action
				max-width: 200px
				margin-right: 15px
			& .col-auto
				padding: 0
	.promo
		&__card
			width: 580px
			margin-bottom: 35px
		&__header
			&-img
				// max-width: 110px
				// max-height: 110px
			&-special
				width: 280px
				height: 117px
				background-size: 280px 100px
		&__price
			font-size: 5.2rem
			background-position: center
		&__btn
			width: 240px
	.services
		&__blocks
			// flex-wrap: wrap
		&__block
			// flex: 1 1 calc(33.33% - 30px)
			width: 280px
			// min-width: 430px
			margin-bottom: 30px
			margin-left: 30px
		&__img
			width: 100px
			height: 100px
			max-width: 100%
			max-height: 100%
	.business
		&__advantages
			li
				padding-bottom: 20px
				font-size: 2rem
				line-height: 25px
		&__btn
			margin-top: 20px
			margin-bottom: 20px
	.step-three
		&__content
			flex-direction: column
		&__img
			left: 50%
			transform: translateX(-50%)
			top: -12%
			max-width: 100%
			max-height: 100%
			width: 100%
			height: 100%
		&__block
			margin-left: 0
			position: relative
			top: -20%
			left: 50%
			transform: translateX(-50%)
			justify-content: center
		&__text
			text-align: center
		&__btn
			margin-top: 0
			&-block
				margin: 20px auto 0
	.step-four
		margin-top: -240px
		&__text
			font-size: 2.8rem
			line-height: 35px
	.about-us
		&::before, &::after
			font-size: 450px
		&::before
			bottom: -60%
		&::after
			top: -60%
	.review
		width: 91%
		&__block
			&:first-child
				margin-left: 0
	.our-case
		&__slider
			&.owl-carousel .owl-nav button.owl-prev, &.owl-carousel .owl-nav button.owl-next
				top: calc(30% - 91px)
		&__slide
			flex-direction: column !important
			&_img
				margin: 0 auto
				width: 100%
				display: flex
				justify-content: space-around
			&_result
				width: 100%
				margin-top: 30px
				margin-left: 150px
				text-align: center
				p.first
					font-size: 3rem
					span
						font-size: 2.5rem
				p.second
					font-size: 2.5rem
					span
						font-size: 2.5rem
					span.price
						font-size: 5rem
				p.text
					text-align: center
				a
					margin: 15px auto 0
	.our-team
		&__cards
			flex-direction: column
			align-items: center
		&__card
			margin-right: 0
			&_mane
				margin: 0 auto
			&-btn
				margin-top: 15px
			&-text
				max-height: 120px
				height: auto
	.faq
		width: 100%
		margin-top: 30px
		&__block
			margin-top: 20px
	.our-blog
		&__more
			margin: 30px auto 0
	.footer
		margin: 20px auto 15px
		height: auto
		& .col-auto
			padding: 0
		&__menu
			margin-left: 30px
			ul
				a
					font-size: 1.4rem
		&__social
			margin-left: 30px
			margin-right: 30px
			&_block
				img
					width: 30px
					height: 30px
		&__adress
			&_block
				img
					width: 45px
					height: 65px
				p
					font-size: 1.6rem
			&_btn
				width: 250px
@media (max-width: 1024px)
	.container-fluid
		padding-left: 20px
		padding-right: 20px
	.step-one
		height: 100%
	.offer
		&__blocks
			flex-wrap: wrap
			height: 100%
			position: relative
			&::before
				content: "+"
				position: absolute
				font-size: 7rem
				color: $white
				font-family: 'Open Sans', sans-serif
				font-weight: 600
				top: 50%
				left: 51%
				transform: translate(-51%,-50%)
		&__block
			flex: 1 1 calc(33.33% - 30px)
			max-width: 400px
			min-width: 350px
			min-height: 320px
			margin-bottom: 16px
			margin-left: 16px
			&::after
				display: none
		&__text
			font-size: 1.8rem
		&__img
			max-width: 250px
			max-height: 200px
	.promo
		justify-content: center
	.step-two
		&__sale
			width: 98%
			height: 100%
			padding: 30px 0
			&_main
				margin: 0 auto
				margin-bottom: 20px
			&_block
				flex-wrap: wrap
				align-items: center
				justify-content: center
			&_action
				min-width: 400px
				margin-right: 0
				img
					width: 140px
					height: 140px
	.services
		&__blocks
			flex-wrap: wrap
		&__block
			min-width: 450px
	.document
		margin: 30px auto
		display: flex
		align-items: center
		justify-content: center
	.step-four
		margin-top: -200px
		&__text
			font-size: 2.2rem
			line-height: 28px
			width: 100%
	.finish
		&__block
			margin-top: 30px
			flex-direction: column
		&__pay
			width: 80%
			margin: 10px auto 0
			a
				img
					max-width: 100%
					max-height: 100%
			&-cart
				width: 80%
				margin: 0 auto
				align-self: center
			&_block
				height: 100%
				display: flex
				flex-direction: column
		&__text
			margin-top: 30px
			width: 100%
			p
				text-align: center
			a
				align-self: center
	.about-us
		&::before, &::after
			font-size: 320px
		&::after
			top: -40%
		&::before
			bottom: -40%
	.review
		&__blocks
			padding: 0 40px
			&.owl-carousel .owl-nav button.owl-next
				right: 0
			&.owl-carousel .owl-nav button.owl-prev
				left: 0
	.our-case__slider.owl-carousel .owl-nav button.owl-next, .our-work__slider.owl-carousel .owl-nav button.owl-next
		margin-right: 0
	.our-case__slider.owl-carousel .owl-nav button.owl-prev, .our-work__slider.owl-carousel .owl-nav button.owl-prev
		margin-left: 0
	.our-case
		&__slide
			&_result
				margin: 20px 0 0
				p.text
					width: 100%
	.faq
		&__card
			padding: 20px 70px
		&__question
			&-text
				font-size: 2.5rem
			&_img
				width: 45px
				height: 45px
	.our-blog
		&__cards
			margin-top: 30px
		&__card
			flex-direction: column
			align-items: center
			justify-content: center
		&__content
			text-align: center
			&-img
				margin: 10px auto 0
	.footer
		&__menu
			margin: 0
		&__social
			margin: 0
		&__adress
			align-items: center
			&_btn
				width: 200px
				height: 40px
				font-size: 1.6rem
				margin-top: 15px
@media (max-width: 960px)
	h2.title
		font-size: 3.5rem
	.header
		&__menu
			display: none !important
	.promo
		&__card
			padding: 30px 30px
			width: 700px
		&__header
			&-text
				&_left
					&:last-child
						span.title
							align-self: flex-end
			&-special
				max-width: 300px
				p
					font-size: 1.8rem
		&__price
			&_right
				margin-right: -30px
			&_left
				margin-left: -30px
		&__btn
			&_big
				display: none
			&_bot
				display: flex
	.step-two
		&__sale
			width: 100%
			&_action
				min-width: 350px
	.services
		&__block
			min-width: 400px
			&:first-child, &:nth-child(3)
				margin-left: 0
		&__list
			margin-top: 10px
			min-height: auto
		&__btn
			width: 280px
	.business
		&__advantages
			&:last-child
				padding-left: 50px
	.step-three
		margin-bottom: 20px
	.document
		&-block
			a
				img
					max-width: 280px
					max-height: 280px
	.our-case
		&__slide
			&_img
				width: 80%
	.our-work
		margin-top: -80px
	.footer
		&__menu
			margin-left: 15px
		&__social
			margin-left: 15px
			&_block
				a
					font-size: 1.6rem
				img
					width: 20px
					height: 20px
					margin-right: 8px
		&__adress
			&_block
				img
					width: 30px
					height: 50px
				p
					font-size: 1.4rem
					line-height: 16px
			&_btn
					width: 170px
					font-size: 1.4rem
@media (max-width: 768px)
	h2.title
		font-size: 2.5rem
	h3.subtitle
		font-size: 1.8rem
		margin-top: 5px
	.offer
		&__title
			font-size: 2.8rem
		&__blocks
			&::before
				left: 50%
				top: 50%
				transform: translate(-50%, -50%)
		&__block
			min-width: 280px
			max-width: 280px
			&:first-child, &:nth-child(3)
				margin-left: 0
	.promo
		margin-top: 15px
		&__card
			width: 100%
			max-width: 608px
		&__header
			&-img
				max-width: 100px
				max-height: 100px
			&-special
				height: 117px
				p
					font-size: 1.6rem
		&__advantages
			width: 100%
			max-width: 600px
			justify-content: flex-start
			&-list
				li
					font-size: 2rem
					&::before
						width: 10px
						height: 10px
		&__btn
			width: 256px
			height: 63px
	.step-two
		&__sale
			&_action
				min-width: 180px
	.services
		&__block
			min-width: 350px
			margin-bottom: 20px
			margin-left: 20px
		&__list
			li
				font-size: 1.4rem
	.business
		&__advantages
			width: 383px
			margin: 0 auto
			&:last-child
				padding-left: 0
			&:first-child
				margin-top: 20px
			li
				padding-bottom: 20px
				min-height: 30px
	.step-three
		&__block
			max-width: 600px
	.document
		margin-bottom: 0
		&-block
			padding: 0 229px
			display: block !important
			a
				width: 100%
				height: 100%
				display: block
				max-width: 300px
				max-height: 300px
				img
					max-width: 300px
					max-height: 300px
			&.owl-carousel .owl-nav button.owl-next
				right: 10%
				top: calc(50% - 50px)
			&.owl-carousel .owl-nav button.owl-prev
				left: 10%
				top: calc(50% - 50px)
	.step-four
		&__text
			margin-top: 20px
	.finish
		&__block
			margin-top: 20px
	.about-us
		min-height: 600px
		height: 700px
		&::after, &::before
			font-size: 280px
	.review
		width: 100%
		&__blocks
			padding: 0 240px
			margin: 0 auto
			width: 100%
			&.owl-carousel .owl-nav button.owl-next
				right: 10%
			&.owl-carousel .owl-nav button.owl-prev
				left: 10%
	.our-case
		&__slide
			padding: 0 35px
			&_img
				width: 100%
				height: 70%
			&_after
				img
					height: auto
			&_result
				p.text
					font-size: 2.2rem
					line-height: 35px
				p.first
					font-size: 2.7rem
					span
						font-size: 2.2rem
				p.second
					font-size: 2.2rem
					span
						font-size: 2.4rem
					span.price
						font-size: 4.7rem
	.our-work
		&__slider
			&.owl-carousel .owl-nav button.owl-next
				right: 10%
			&.owl-carousel .owl-nav button.owl-prev
				left: 10%
		&__slide
			&:hover
				width: 280px !important
				.our-work__slide_btn
					display: flex
				img
					background: url("../img/our-work/bg.png")  no-repeat
					background-size: cover
					height: 100%
					margin-right: 0 !important
	.faq
		width: 95%
		&__card
			padding: 20px 50px
		&__question
			&-text
				line-height: normal
	.our-blog
		&__content
			padding-right: 0
			&-text
				font-size: 2rem
	.form-block
		form
			margin-top: 20px
			flex-direction: column
			align-items: center
		&__input
			margin-right: 0
			margin-bottom: 25px
	.footer
		// margin-top: 0
		&__block
			flex-wrap: wrap
			max-width: 630px
			margin: 0 auto
			justify-content: flex-start !important
			align-items: flex-start !important
		&__logo
			// margin: 10px
			display: flex
			align-items: center
			p
				margin-top: 0
				margin-left: 10px
		&__menu
			display: flex
			flex-direction: column
			ul
				flex-direction: row
				max-width: 600px
				li
					margin-right: 10px
		&__social
			margin-top: 15px
		&__adress
			margin-top: 15px
			margin-left: 200px
			&_btn
				width: 100%
@media (max-width: 465px)
	h2.title
		font-size: 2rem
	h3.subtitle
		font-size: 1.6rem
		margin-top: 3px
		line-height: normal
	.header
		&__logo
			&-about
				display: none
		&-logo-img
			&::after
				display: none
	.step-two
		&__title
			margin-top: 20px
	.offer
		&__title
			font-size: 2.5rem
			line-height: 28px
		&__subtitle
			font-size: 1.4rem
			line-height: normal
		&__blocks
			width: 100%
			&::before
				display: none
		&__block
			margin-left: 0
			&::after
				display: block
				bottom: -15%
				left: 56%
		&__btn
			width: 300px
			height: 50px
			font-size: 2rem
	.step-two
		&__sale
			&_block
				margin-left: 0
	.promo
		align-items: center
		justify-content: center
		min-height: 595px
		&__card
			max-width: 350px
			padding: 20px 0
		&__header
			text-align: center
			margin: 0 auto
			flex-direction: column
			max-width: 350px
			height: 100%
			max-height: 100%
			align-items: center
			&_reverse
				flex-direction: column-reverse !important
			&-block
				flex-direction: column
			&-text
				align-items: center !important
				margin-top: 20px
				&_left
					margin-left: 0
					&:last-child
						span.title
							align-self: center
				&_right
					margin-right: 0
				span.subtitle
					&:last-child
						text-align: center
			&-img
				max-width: 110px
				max-height: 110px
			&-special
				display: none
				&_mobile
					margin-top: 20px
					display: flex
					align-items: center
					width: 100%
					height: 66px
					color: $white
					background: $button
					text-align: center
					font-size: 2rem
					line-height: normal
		&__advantages
			&-list
				li
					font-size: 1.6rem
					list-style: circle inside
					display: list-item
					&::before
						display: none
		&__price
			width: 350px
			max-width: 350px
			background: #fb9134
			&_right
				margin-right: 0
			&_left
				margin-left: 0
			&-block
				flex-direction: column
				&_reverse
					flex-direction: column-reverse
		&__btn
			margin: 0 auto
			margin-top: 15px
	.services
		&__block
			margin-left: 0
		&__text
			height: auto
	.step-three
		&__block
			width: 100%
		&__text
			font-size: 1.8rem
			line-height: normal
	.step-four
		margin-top: -10px
	.document
		&-block
			padding: 0 75px 0 80px
			a
				max-width: 280px
				margin: 0 auto
				img
					max-width: 100%
			&.owl-carousel .owl-nav button.owl-prev, &.owl-carousel .owl-nav button.owl-next
				top: calc(50% - 40px)
	.finish
		padding: 30px 0
		&__text
			p
				font-size: 2rem
				line-height: normal
	.about-us
		height: auto
		&::after, &::before
			display: none
	.review
		&__blocks
			padding: 0 90px
	.our-case
		&__slide
			&_result
				p.first
					font-size: 1.8rem
					span
						font-size: 1.6rem
				p.second
					font-size: 1.8rem
					span
						font-size: 1.6rem
					span.price
						font-size: 3rem
				p.text
					margin-top: 10px
					font-size: 1.6rem
					line-height: 20px
				a
					width: 300px
					height: 50px
	.our-team
		margin-top: 20px
		&__card
			max-width: 100%
			min-height: auto
			&-img
				width: 100px
				height: 100px
				background-size: cover

	.faq
		&__card
			padding: 25px 30px
			border-radius: 30px
		&__question
			&-text
				font-size: 1.8rem
		&-text
			font-size: 1.4rem
		&_single_title
			font-size: 1.8rem
	.our-blog
		&__card
			padding: 20px 0
		&__img
			max-width: 100%
			max-height: 100%
			margin: 0 auto
		&__content
			margin-left: 0
			&-name
				font-size: 2.5rem
			&-date
				margin-top: 0
				font-size: 1.4rem
			&-text
				font-size: 1.6rem
				margin-top: 5px
				line-height: normal
			&-img
				width: 35px
				height: 35px
	.footer
		&__block
			max-width: 100%
		&__logo
			margin: 0 auto
		&__menu
			margin: 15px auto 0
		&__adress
			margin-left: 10px
		&__social
			margin-left: 0
			&_block
				img
					width: 15px
					height: 15px
					margin-right: 3px
				a
					font-size: 1.4rem
	.pop
		&-content
			padding: 65px 30px
		h2
			font-size: 2rem
		form
			margin-top: 35px
		input, button
			height: 55px
			width: 95%
			margin: 25px auto 0
		textarea
			width: 95%
			margin: 25px auto 0
			min-height: 100px
			height: 100px
		&-close
			width: 28px
			height: 28px
@media (max-width: 425px)
	.offer
		margin-top: 50px
		&__title
			width: 100%
		&__form
				flex-direction: column
				width: 365px
				&-btn, &-input
					margin-left: 0
					width: 90%
					height: 40px
				&-input
					&::placeholder
						font-size: 1.6rem
	.step-two
		margin-top: 15px
		h2 &__title
			width: 100%
	.promo
		&__card
			max-width: 100%
			&-header
				margin-top: 25px
			&-list
				margin-top: 15px
				margin-left: 10px
				height: auto
			&-img
				display: none
			&-title
				font-size: 2rem
			&-special
				width: 140px
				height: 60px
				p
					font-size: 1.4rem
			&-text
				margin-left: 10px
			&-advantages
				width: 100%
			&-btn
				height: 40px
	.step-four
		&__subtitle
			margin-top: 20px
	.document
		&-block
			padding: 0 55px 0 55px
			&.owl-carousel .owl-nav button.owl-next
				right: 0
			&.owl-carousel .owl-nav button.owl-prev
				left: 0
	.about-us
		&__text
			font-size: 1.6rem
		&__carousel
			margin-top: 20px
	.review
		&__blocks
			padding: 0 60px
	.our-case
		&__headline
			font-size: 2rem
		&__slide
			padding: 0
			&_img
				width: 70%
	.our-work
		&__slider
			width: 100%
			height: 100%
		&__slide
			img
				height: 460px
		&__cards
			margin-top: 20px
		&__card
			margin-right: 0
			&-btn
				width: 240px
				height: 45px
				font-size: 1.8rem
	.faq
		margin-top: 20px
		&__block
			margin-left: 10px
			margin-right: 10px
		&__question
			&-text
				font-size: 1.6rem
	.footer
		&__contact
			max-width: 365px
		&__social
			padding-left: 0
			margin-bottom: 15px
@media (max-width: 375px)
	.btn
		width: 280px
		height: 55px
		font-size: 1.8rem
	h2.title
		font-size: 1.8rem
	h3.title
		font-size: 1.6rem
	.offer
		&__title
			font-size: 1.8rem
			line-height: 20px
		&__block
			min-width: 200px
			min-height: 250px
			&::after
				bottom: -18%
	.promo
		&__header
			&-block
				width: 100%
				flex-direction: column
		&__price
			width: 100%
		&__btn
			width: 280px
			height: 55px
			font-size: 1.8rem
	.step-two
		&__sale
			&_action
				min-width: 50px
				margin-right: 10px
				&:nth-child(2)
					margin-right: 0
				img
					width: 100px
					height: 100px
				p
					font-size: 1.2rem
	.business
		&__advantages
			margin-left: 35px
			li
				padding-bottom: 10px
				min-height: auto
				font-size: 1.4rem
				img
					width: 25px
					height: 25px
					margin-right: 10px
	.step-three
		&__text
			font-size: 1.6rem
		&__btn
			width: 100%
			height: 55px
			&-block
				width: 280px
				height: auto
	.step-four
		margin-top: -170px
		&__text
			font-size: 1.6rem
			line-height: 20px
		&__btn
			margin: 20px 0
	.document
		&-block
			padding: 0 35px
			&.owl-carousel .owl-nav button.owl-prev, &.owl-carousel .owl-nav button.owl-next
				top: calc(50% - 50px)
	.finish
		&__text
			p
				font-size: 1.6rem
		&__btn
			width: 280px
			height: 55px
			font-size: 1.8rem
			margin-top: 20px
	.review
		&__blocks
			padding: 0 40px
			&.owl-carousel .owl-nav button.owl-prev
				left: 0
			&.owl-carousel .owl-nav button.owl-next
				right: 0
	.our-work
		&__slider
			&.owl-carousel .owl-nav button.owl-prev
				left: 0
			&.owl-carousel .owl-nav button.owl-next
				right: 0
	.our-team
		&__card
			&-text
				max-height: 100%
	.form-block
		&__input, &__btn
			width: 90%
	.footer
		&__menu
			ul
				li
					margin-right: 5px
					a
						font-size: 1.2rem
		&__social
			margin: 10px auto 0
		&__adress
			margin: 10px auto 0
			width: 250px
	.pop
		&-content
			padding: 35px 10px
		h2
			font-size: 1.6rem