.owl
	&-carousel
		position: relative
		z-index: 100
	&-carousel &-nav
		top: 0
		width: 100% !important
		height: 91px
		z-index: 0
		display: block
		button.owl-prev,button.owl-next
			position: absolute
			width: 29px
			height: 91px
			&.disabled
				opacity: .5
.review__blocks.owl-carousel .owl-nav button.owl-prev,.document-block.owl-carousel .owl-nav button.owl-prev
	background: url("../img/step-four/arrow-l.svg") no-repeat
.review__blocks.owl-carousel .owl-nav button.owl-next, .document-block.owl-carousel .owl-nav button.owl-next
	background: url("../img/step-four/arrow-r.svg") no-repeat 100%
.our-case__slider.owl-carousel .owl-nav button.owl-prev, .our-work__slider.owl-carousel .owl-nav button.owl-prev
	background: url("../img/our-case/arrow-l.svg") no-repeat
.our-case__slider.owl-carousel .owl-nav button.owl-next, .our-work__slider.owl-carousel .owl-nav button.owl-next
	background: url("../img/our-case/arrow-r.svg") no-repeat 100%

.review__blocks.owl-carousel .owl-nav button.owl-prev,.document-block.owl-carousel .owl-nav button.owl-prev, .review__blocks.owl-carousel .owl-nav button.owl-next, .document-block.owl-carousel .owl-nav button.owl-next, .our-case__slider.owl-carousel .owl-nav button.owl-prev, .our-work__slider.owl-carousel .owl-nav button.owl-prev, .our-case__slider.owl-carousel .owl-nav button.owl-next, .our-work__slider.owl-carousel .owl-nav button.owl-next
	top: calc(50% - 91px)

.review__blocks.owl-carousel .owl-nav button.owl-prev
	left: -8%
	margin-right: 60px
.review__blocks.owl-carousel .owl-nav button.owl-next
	right: -8%
	margin-left: 60px
.our-case__slider.owl-carousel .owl-nav button.owl-prev, .our-work__slider.owl-carousel .owl-nav button.owl-prev, .document-block.owl-carousel .owl-nav button.owl-prev
	left: 0
.our-case__slider.owl-carousel .owl-nav button.owl-next, .our-work__slider.owl-carousel .owl-nav button.owl-next, .document-block.owl-carousel .owl-nav button.owl-next
	right: 0



