.slick
	&-track
		width: 100%
		margin: 0 auto
		display: flex
		justify-content: space-between
	&-slide
		max-width: inherit
	&-prev, &-next
		&:before
			content: ""
			position: absolute
			display: block
			max-width: 100%
			max-height: 100%
			width: 29px
			height: 91px
			top: 50%
			transform: translateY(-50%)
	&-arrow
		display: block
		position: absolute
		max-width: 100%
		max-height: 100%
		width: 29px
		height: 91px
		top: 50%
		transform: translateY(-50%)
	&-prev
		&:before
			background: url("../img/step-four/arrow-l.svg") no-repeat
			margin-left: px
	&-next
		&:before
			background: url("../img/step-four/arrow-r.svg") no-repeat  100%

